<br>
<table width="95%"  border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td><h1>Basket:</h1></td>
    </tr>
</table>

<table width="95%"  border="1" align="center" cellpadding="0" cellspacing="0">
    <tr bgcolor="#CCCCCC">
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Type</th>
        <th>Start Rent date</span></th>
        <th>Expected Return date</span></th>
        <th>Expected Price</span></th>
        <th>&nbsp;</th>
    </tr>

    <tbody ng-init="total = 0">
    <tr ng-repeat="filmBasket in filmBasketList track by $index">
        <td width="5%">{{filmBasket.film.id}}</td>
        <td width="20%">{{filmBasket.film.name}}</td>
        <td width="5%">{{filmBasket.film.filmPriceType.price}} SEK</td>
        <td width="5%">{{filmBasket.film.filmPriceType.description}}</td>
        <td width="15%">
            {{filmBasket.startRentDate | date: 'dd-MM-yyyy'}}
        </td>
        <td width="15%">
            {{filmBasket.expectedEndRentDate | date: 'dd-MM-yyyy'}}
        </td>
        <td width="10%" align="right" ng-init="$parent.total = $parent.total + filmBasket.expectedPrice">
            {{ filmBasket.expectedPrice}} SEK
        </td>
        <td width="5%"><a href="" ng-click="removeFilm($index)">[Remove]</a></td>
    </tr>

    <tr bgcolor="#CCCCCC">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <!--- Totais -->
    <tr bgcolor="#CCCCCC">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td align="right">Total price:</span></td>
        <td align="right">{{total}} SEK</span></td>
        <td>&nbsp;</td>
    </tr>

    <tr bgcolor="#CCCCCC">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td align="right">Delivery:</td>
        <td align="right"><b>Pick up</b></td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td align="center" colspan="8">&nbsp;</td>
    </tr>
    <tr>
        <td align="center" colspan="8">
            <button ng-click="saveAll(itemFilm)">Rent Films</button>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="8">&nbsp;</td>
    </tr>
    </tbody>
</table>
